header {
    background-color: #244751;
    color: #E8FDFF;
    animation: backwards;
}

body {
    background-color: whitesmoke;
    font-family: 'Overpass', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 100%;
}